= simple_form_for project, method: :patch, remote: true do |f|
  .modal-header
    %h4#myModalLabel.modal-title= I18n.t('edit.project')
  .modal-body
    = f.input :name
  .modal-footer
    = f.button :submit, I18n.t('edit.project')
