$(".project_#{j(@project.id)}").replaceWith("#{j(render(partial: 'project', locals: {project: @project.model }))}");
$(() => flatpickr($(".project_#{j(@project.id)}").find('.datepicker'), { minDate: 'today' }))
$("#modal-window").modal('hide');
